#This is the location of the privatekey.pem file in realtion to this application.
PRIVATE_KEY_PATH= 

# This is the password set when generating your own key pair. 
PRIVATE_KEY_PASSWORD=

#This is the location of the Elixir_PPAPI_PublicKey.pem file in realtion to this application.
PUBLIC_KEY_PATH=

# Specify the port for this app to listen on, if not set it defaults to port 8080
PORT=